:root {
    /* Neon colors */
    --primary: #C38918;
    --secondary: #36033A;
    --tertiary: #2D3B05;
    --dark: #41020A;
    --light: #B90F2E;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* Global styles for the body */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: var(--light);
    background-image: url("../assets/munchiesNeon3-min.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Styles for the header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;  /* Or fixed if you want it to stick at the top */
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000; /* Ensure it's above other elements */
    border-bottom: var(--primary) 4px solid;
    box-shadow: var(--primary) 0px 1px 5px;
}

/* Styles for the header title */
header h1 {
    color: var(--light);
    padding: 15px;
    margin: 0;
    font-size: 3vw;
    line-height: 1;
    text-shadow: var(--light) 0 0 5px;
    background-color: var(--primary);
    border-radius: 0 10px 10px 0px;
}

/* Styles for the navigation bar */
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 5px;
    padding-right: 0px 10px;
}

/* Styles for the navigation links */
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 5px;  
    background-color: var(--primary);
    box-shadow: var(--primary) 0px 1px 5px;
    list-style: none;
    border-radius: 10px 0 0 10px;
}

/* Styles for the anchor tags within navigation links */
.nav-links a {
    text-decoration: none;
    padding: 5px 10px;
    font-size: large;
}

/* Hover effect for navigation links */
.nav-links a:hover {
    color: var(--tertiary);
    text-shadow: var(--light) 0 0 10px;
}

/* Styles for the main content area */
main { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  /* Ensure full width */
    height: calc(100vh - 81px);  /* Subtract header height */
    margin-top: 81px;  /* Push it below the fixed header */
    position: fixed;
    z-index: 1;
}

/* Hide the scrollbar for the main content area */
main::-webkit-scrollbar {
    display: none;
}

/* Styles for the notice element */
.notice {
    text-align: center;
    background: rgba(195, 137, 24, 0.8);
    padding: 30px 30px;
    border-radius: 10px;
    width: 400px;
    max-width: 100%; /* Keeps form from stretching too wide */
    color: var(--secondary);
    text-shadow: var(--light) 0 0 10px;
}

/* Styles for the edit form */
.editForm {
    display: flex;
    flex-direction: column;
    background: rgba(45, 59, 5, 0.8);
    color: var(--primary);
    padding: 15px 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-shadow: var(--light) 0 0 10px;
}

/* Styles for the edit form heading */
.editForm h2 {
    font-size: 2rem;
    text-align: center;
    margin: 10px;
}

/* Styles for the labels within the edit form */
.editForm label {
    color: var(--primary);
    font-weight: bold;
    margin: 5px;
}

/* Styles for the input fields within the edit form */
.editForm input {
    background: rgba(195, 137, 24, 0.8);
    color: var(--dark);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

/* Styles for the button container within the edit form */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Add space between buttons */
    margin-top: 10px;
}

/* Styles for the edit buttons */
.editButton {
    background: transparent;
    color: var(--primary);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-size: large;
    border: none;
    width: 100px;
}

/* Hover effect for the buttons within the edit form */
.editForm button:hover {
    background: rgba(195, 137, 24, 0.8);
    color: var(--dark);
    text-shadow: var(--light) 0 0 10px;
}

/* Media queries for responsive design */
@media screen and (max-width: 980px) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
        background: rgba(195, 137, 24, 0.8);
    }
    
    header h1 {
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: 8vw;
        background-color: var(--primary);
        color: var(--tertiary);
        text-shadow: var(--secondary) 0 0 10px;
        border-radius: 0;
    }

    .nav-links {
        border-radius: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .navbar button a {
        color: var(--dark);
        text-decoration: none;
        font-weight: bold;
    }
}

