:root {
    /* Neon colors */
    --primary: #C38918;
    --secondary: #36033A;
    --tertiary: #2D3B05;
    --dark: #41020A;
    --light: #B90F2E;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: var(--light);
    background-image: url("../assets/munchiesNeon3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;  /* Or fixed if you want it to stick at the top */
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000; /* Ensure it's above other elements */
    border-bottom: var(--primary) 4px solid;
    box-shadow: var(--primary) 0px 1px 5px;
}

header h1 {
    color: var(--light);
    padding: 15px;
    margin: 0;
    font-size: 3vw;
    line-height: 1;
    text-shadow: var(--light) 0 0 5px;
    background-color: var(--primary);
    border-radius: 0 10px 10px 0px;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 5px;
    padding-right: 0px, 10px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 5px;  
    background-color: var(--primary);
    box-shadow: var(--primary) 0px 1px 5px;
    list-style: none;
    border-radius: 10px 0 0 10px;
}

.nav-links a {
    text-decoration: none;
    padding: 5px 10px;
    font-size: large;
}

.nav-links a:hover {
    color: var(--tertiary);
    text-shadow: var(--light) 0 0 10px;
}

main {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  /* Ensure full width */
    height: calc(100vh - 81px);  /* Subtract header height */
    /*margin-top: 81px;  /* Push it below the fixed header */
    /*position: fixed;
    z-index: 1;
    */
    /* margin-top: calc(4vw + 20px); /* Adjust based on header's font size */
    position: relative;
    top: 81px; /* Adjust based on header height */
    width: 100%;
    overflow-y: auto; /* Enable scrolling */
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
    overflow-y: auto;
}

main::-webkit-scrollbar {
    display: none;
}

.login-notice {
    text-align: center;
    background: rgba(195, 137, 24, 0.8);
    padding: 30px 30px;
    border-radius: 10px;
    width: 900px;
    max-width: 400px; /* Keeps form from stretching too wide */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    color: var(--secondary);
    text-shadow: var(--light) 0 0 10px;
}

@media screen and (max-width: 980px) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
    }
    
    header h1 {
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: 10vw;
        background-color: var(--primary);
        color: var(--tertiary);
        text-shadow: var(--secondary) 0 0 10px;
        border-radius: 0;
    }

    .nav-links {
        border-radius: 0;
        margin: 0;
    }

    .navbar button a {
        color: var(--dark);
        text-decoration: none;
        font-weight: bold;
    }

}







/* New CSS */
/*
body {
    background-color: var(--dark);
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h1,
h2,
h3 {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--secondary);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
    padding-bottom: 10px;
    background-image: linear-gradient(to right, var(--dark), var(--primary), var(--dark));
}

header h1 {
    color: var(--dark);
    padding: 10px;
    margin: 0;
    font-size: 4vw;
    line-height: 1;
    text-shadow: var(--primary) 0 0 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 5px;
}

.navbar button {
    background-color: transparent;
    border: none;
    font-size: larger;
    border-radius: 5px;
    padding: 10px 10px;
}

.navbar button a {
    color: var(--dark);
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }

    header h1 {
      width: 100%;
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-size: 10vw;
      background-color: var(--dark);
      color: var(--light)
    }

    .navbar button a {
        color: var(--dark);
        text-decoration: none;
        font-weight: bold;
    }
}
  
@media screen and (max-width:768px) {
   header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
  
@media screen and (max-width: 495px) {
  header h1 {
    font-size: 20vw;
  }


*/





/* Original CSS */
/*
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary);
    color: var(--dark);
    margin: 0;
    padding: 0;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, var(--dark), var(--primary), var(--dark));
    padding: 10px 20px;
    border-bottom: var(--dark) 4px solid;
    box-shadow: var(--dark) 0px 1px 5px;
}

.navbar h1 {
    text-shadow: var(--primary) 0px 2px 18px;
    padding: 5px;
    border-radius: 10px;
    color: var(--light);
}

.navbar button {
    background-image: linear-gradient(45deg, var(--primary), var(--secondary));
    box-shadow: var(--primary) -2px 2px 10px;
}

button {
    background-color: var(--tertiary);
    border: var(--primary) 2px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

button a {
    color: var(--dark);
    text-decoration: none;
    font-weight: bold;
}

button:hover {
    background-color: var(--primary);
    color: var(--dark);
    border: var(--dark) 2px solid;
    box-shadow: var(--dark) 2px 2px 10px;
}
*/

