

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
    background: rgba(195, 137, 24, 0.8);
    padding: 50px 50px;
    border-radius: 10px;
    width: 900px;
    max-width: 400px; /* Keeps form from stretching too wide */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding-top: 20px;
    align-items: center;
}

label {
    margin-bottom: 5px;
    color: var(--dark);
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: var(--dark) 3px solid;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: transparent;
}

.login-form button {
    padding: 10px 10px;
    background-color: transparent;
    color: var(--dark);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    margin: 10px;
}

.form-container button:hover {
    color: var(--light);
    text-shadow: var(--light) 0 0 10px;
    background: rgba(45, 59, 5, 0.8)
}



/* New CSS */
/*
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light);
    background-color: var(--primary);
    padding: 50px 50px;
    margin: 150px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
    border: solid 3px var(--light);
}


.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding-top: 20px;
}

form div {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    color: var(--dark);
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: var(--dark) 3px solid;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--dark);
}

.login-form button {
    padding: 10px 10px;
    background-color: transparent;
    color: var(--like);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    margin: 10px;
}

button:hover {
    background-color: var(--light);
    color: var(--dark)
}
*/

/*original css*/
/*
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tertiary);
    padding: 30px 50px;
    margin: 150px auto;
    border-radius: 10px;
    border: var(--dark) 2px solid;
    max-width: 600px;
    min-width: 250px;
    box-shadow: var(--dark) 0 4px 8px;
  }
*/
/*
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light);
    background-color: var(--secondary);
    padding: 30px 50px;
    margin: 150px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
    border: solid 5px var(--dark);
}

.form-container h1 {
    background-color: var(--);
    padding: 5px;
    border-radius: 10px;
    text-shadow: var(--primary) 0 0 10px;
}

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: var(--dark) 2px dashed;
  }
  
  .btn.btn-primary {
      background-color: var(--secondary);
      color: var(--light);
      border: none;
      padding: 10px;
      margin: 10px;
      border-radius: 5px;
  }
  
  .btn.btn-primary:hover {
      background-color: var(--primary);
      color: var(--dark);
  }
  */